body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

p, h1{
    margin: 0px;
}

.page-content{
    width: 80%;
    margin: auto;
}

.page-title h1{
    font-size: 52px;
}

.page-title{
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 3rem 0rem 1rem 0rem
}

.page-title a{
    color: #129BFF;
    text-decoration: underline;
}

.title-badge{
    border-radius: 3px;
    border: 1px solid #FF4C41;
    color: #FF4C41;
    padding: 3px;
}

.crud-ops .add{
    color: #00B252;
    text-decoration: none;
    font-weight: 500;
}

.crud-ops .add:hover{
    text-decoration: underline;
}

.events-link {
    color: #129BFF;
    text-decoration: none;
    font-weight: 500;
}

.events-link:hover{
    text-decoration: underline;
}

.crud-ops{
    display: flex;
    gap: 10px;
    margin-bottom: 0.8rem;
    align-items: flex-end;
}