.event,
.dashboard-event,
.delete-event,
.update-event,
.add-event{
    border: 2px solid #000;
    border-radius: 4px;
    display: flex;
    align-items: center;
    width: 20rem;
    padding: 12px;
}

.event-content,
.dashboard-event-content,
.delete-event-content,
.update-event-content,
.add-event-content{
    flex: 0.9;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.event-content p,
.dashboard-event-content p,
.delete-event-content p{
    font-size: 18px;
    font-weight: 400;
}

.event-content h1,
.dashboard-event-content h1,
.delete-event-content h1{
    font-size: 28px;
    font-weight: 500;
}

.event-content .attendees-count,
.dashboard-event-content .attendees-count,
.delete-event-content .attendees-count{
    color: #D44000;
    font-size: 16px;
    font-weight: 300;
}

.dashboard-event{
    display: block;
    width: 18rem;
    margin: 0px;
}

.event button{
    background-color: #000;
    color: #fff;
    font-size: 16px;
    border-style: none;
    border-radius: 3px;
    padding: 8px 14px;
}

.event-ext{
    display: flex;
    align-items: center;
    gap: 10px;
}

.delete-event{
    display: block;
}

.delete-event .confirm-delete,
.update-event .confirm-update,
.add-event .confirm-add{
    display: flex;
    border-top: 1px solid #000;
    margin-top: 1rem;
    padding-top: 0.8rem;
    gap: 10px;
}

.delete-event .confirm-delete p,
.update-event .confirm-update p,
.add-event .confirm-add p{
    flex: 1;
}

.delete-event .confirm-delete .yes{
    color: #DA3D3D
}

.update-event .confirm-update input,
.add-event .confirm-add input{
    color: #F3A205;
    padding: 0px;
    background-color: #fff;
    border: none;
    font-weight: 300;
}

.update-event,
.add-event{
    display: block;
}

.update-event-content input,
.add-event input{
    font-weight: 300;
    font-size: 18px;
    padding: 10px;
}

.add-event .confirm-add input{
    color: #00B252;
}