.dashboard-link{
    color: #129BFF;
    text-decoration: none;
    font-weight: 500;
}

.dashboard-link:hover{
    text-decoration: underline;
}

.dashboard-events-holder,
.events-holder{
    border-radius: 3px;
    width: 28rem;
    padding: 20px 0px 20px 0px;
    overflow-y: scroll;
    height: 70vh;
    display: flex;
    flex-direction: column;
    gap: 35px;
    border-top: 4px solid #000;
    border-bottom: 4px solid #000;
    margin-top: 10px;
    margin-bottom: 10px;
}

.event,
.dashboard-event,
.delete-event{
    border: 2px solid #000;
    border-radius: 4px;
    width: 25rem;
    min-height: 5.3rem;
    overflow: auto;
    padding: 12px;
}

.event-content,
.dashboard-event-content,
.delete-event-content{
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.delete-event-content .date,
.dashboard-event-content .date,
.event-content .date{
    font-size: 18px;
    font-weight: 400;
    border-right: 1px solid #000;
    height: 5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 2;
}

.dashboard-event-content p,
.delete-event-content p{
    font-size: 18px;
    font-weight: 400;
}

.delete-event-content .title h1,
.dashboard-event-content .title h1,
.event-content .title h1{
    font-size: 28px;
    font-weight: 500;
}

.delete-event-content .title,
.dashboard-event-content .title,
.event-content .title{
    flex: 1;
    min-width: 11rem;
}

.dashboard-event-content h1,
.delete-event-content h1{
    font-size: 28px;
    font-weight: 500;
}

.event button{
    background-color: #000;
    color: #fff;
    font-size: 16px;
    border-style: none;
    border-radius: 3px;
    padding: 8px 14px;
}

.event-ext{
    display: flex;
    align-items: center;
    gap: 10px;
}

