.success-message,
.unsuccess-message{
    background-color: #D1F0C6;
    width: 20rem;
    border-radius: 6px;
    margin-top: 2rem;
    display: flex;
    padding: 0.5rem;
    color: #1A6500;
    font-size: 14px;
}

.success-message .message,
.unsuccess-message .message{
    flex: 1;
}

.unsuccess-message{
    background-color: #FFBDBD;
    color: #DA3D3D;
}

.success-message .close-message:hover,
.unsuccess-message .close-message:hover{
    text-decoration: underline;
    cursor: pointer;
}