{% extends "base.html" %}
{% block title%}Add Event | Events{%endblock%}
{%block page_title%}Add Event{%endblock%}
{%block content%}
    <div class="add-events-holder">
        <div class="add-event">
            <form action="/add-event" method="POST" class="add-event-content">
                <input placeholder="Date" type="date" name="date" required>
                <input placeholder="Event Name" type="text" name="title" maxlength="17" required>
                <div class="confirm-add">
                    <p>Add This Event?</p>
                    <input type="submit" value="Add" class="yes">
                    <a href="/dashboard">Cancel</a>
                </div>
            </form>
        </div>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="{{category}}-message" id="removable-message">
                        <p class="message">{{ message }}</p>
                        <p class="close-message" id="close-message">x</p>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
{%endblock%}