{%extends "base.html"%}

{%block title%}Dashboard | Events{%endblock%}
{%block page_title%}Dashboard{%endblock%}
{%block content%}
    <div class="crud-ops">
        <a class="events-link"href="/">Home</a>
        <a href="/add-event" class="add">
            Add
        </a>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="{{category}}-message" id="removable-message">
                <p class="message">{{ message }}</p>
                <p class="close-message" id="close-message">x</p>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
    <div class="dashboard-events-holder">
        {%for event in events%}
            <div class="event-ext">
                <div class="dashboard-event">
                    <div class="dashboard-event-content">
                        <div class="date">
                            <p>{{event.date}}</p>
                        </div>
                        <div class="title">
                            <h1>{{event.title}}</h1>
                        </div>
                    </div>
                </div>
                <div class="dashboard-event-options">
                    <a href="/update-event/{{event.id}}"><img class="update-img" src="{{url_for('static', filename='imgs/file.png')}}" width="20"></a>
                    <a href="/delete-event/{{event.id}}"><img class="delete-img" src="{{url_for('static', filename='imgs/delete.png')}}" width="20"></a>
                </div>
            </div>
        {%endfor%}
    </div>
{%endblock%}