{%extends "base.html"%}

{%block title%}Delete Event | Events{%endblock%}
{%block page_title%}Delete Event{%endblock%}
{%block content%}
    <div class="delete-events-holder">
        <div class="delete-event">
            <div class="delete-event-content">
                <div class="date">
                    <p>sun 23 mar 2023</p>
                </div>
                <div class="title">
                    <h1>Heyy</h1>
                </div>
            </div>
            <div class="confirm-delete">
                <p>Delete This Event?</p>
                <a class="yes">Yes</a>
                <a href="/dashboard">Cancel</a>
            </div>
        </div>
    </div>
{%endblock%}