{%extends "base.html"%}

{%block title%}Events{%endblock%}
{%block page_title%}Events{%endblock%}
{%block content%}
    <a class="dashboard-link"href="/dashboard">>Dashboard<</a>
    <div class="events-holder">
        {%for event in events%}
            <div class="event">
                <div class="event-content">
                    <div class="date">
                        <p>{{event.date}}</p>
                    </div>
                    <div class="title">
                        <h1>{{event.title}}</h1>
                    </div>
                </div>
            </div>
        {%endfor%}
    </div>
{%endblock%}