{%extends "base.html"%}

{%block title%}Events{%endblock%}

{%block content%}
    <div class="page-title">
        <h1>Events</h1>
        <div class="title-badges">
            <p>Admin</p>
            <button>LOGOUT</button>
        </div>
    </div>
    <div class="events-holder">
        <div class="event">
            <div class="event-content">
                <p>Date</p>
                <h1>Event Title</h1>
                <p>attendee(s)</p>
            </div>
            <button>Attend</button>
        </div>
    </div>
{%endblock%}