{% extends "base_2.html" %}
{% block title%}Login | Events{%endblock%}
{%block page_title%}Login{%endblock%}
{%block content%}
    <div class="login-header">
        <p>New? <a href="/register">REGISTER</a></p>
    </div>
    <form action="/login" method="POST" class="login-form">
        <input placeholder="Username" type="text" name="username" required>
        <input placeholder="Password" type="password" name="password" required>
        <div class="submit-container">
            <input type="submit" value="Login" class="login-button">
        </div>
    </form>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="{{category}}-message" id="removable-message">
                    <p class="message">{{ message }}</p>
                    <p class="close-message" id="close-message">x</p>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
{%endblock%}