{%extends "base.html"%}

{%block title%}Update Event | Events{%endblock%}
{%block page_title%}Update Event{%endblock%}
{%block content%}
    <div class="update-events-holder">
        <div class="update-event">
            <form method="POST" action="/update-event/{{event.id}}" class="update-event-content">
                <input value="{{event.date}}" type="date" name="date">
                <input value="{{event.title}}" type="text" name="title">
                <div class="confirm-update">
                    <p>Update This Event?</p>
                    <input type="submit" value="Yes"class="yes">
                    <a href="/dashboard">Cancel</a>
                </div>
            </form>
        </div>
    </div>
{%endblock%}