{%extends "base.html"%}

{%block title%}Update Event | Events{%endblock%}
{%block page_title%}Update Event{%endblock%}
{%block content%}
    <div class="update-events-holder">
        <div class="update-event">
            <form name="update-event"class="update-event-content">
                <input value="2016-08-16" type="date" name="date">
                <input value="hey" type="text" name="title">
                <div class="confirm-update">
                    <input type="submit" value="Yes"class="yes">
                </div>
            </form>
        </div>
    </div>
{%endblock%}